In [1]:
import os
import pandas as pd

# 1. Import Dataset

In [2]:
DATA_FOLDER_NAME = 'data'

sampleOrigFiles = str(os.getcwd())+"/" + DATA_FOLDER_NAME + "\sample_orig_*.txt"
outputOrigFile = 'SampleOriginationCombined.csv'

orig_headers = ['CREDIT_SCORE','FIRST_PAYMENT_DATE' : ,'FIRST_TIME_HOMEBUYER_FLAG','MATURITY_DATE','MSA','MI_PCT',
                'NUMBER_OF_UNITS','OCCUPANCY_STATUS','CLTV','DTI','ORIGINAL_UPB','LTV','ORIGINAL_INTEREST_RATE',
                'CHANNEL','PPM','AMORTIZATION_TYPE','PROPERTY_STATE', 'PROPERTY_TYPE','POSTAL_CODE',
                'LOAN_SEQUENCE_NUMBER','LOAN_PURPOSE', 'ORIGINAL_LOAN_TERM','NUMBER_OF_BORROWERS','SELLER_NAME',
                'SERVICER_NAME','SUPER_CONFORMING_FLAG','PRE-RELIEF_REFINANCE_LOAN_SEQUENCE_NUMBER', 
                'PROGRAM_INDICATOR', 'RELIEF_REFINANCE_INDICATOR', 'PROPERTY_VALUATION_METHOD', 'IO_INDICATOR']

orig_types = {'CREDIT_SCORE' : int,'FIRST_PAYMENT_DATE' : str,'FIRST_TIME_HOMEBUYER_FLAG': str,'MATURITY_DATE' : str,'MSA' : str,'MI_PCT': float,
                'NUMBER_OF_UNITS' :  ,'OCCUPANCY_STATUS','CLTV','DTI','ORIGINAL_UPB','LTV','ORIGINAL_INTEREST_RATE',
                'CHANNEL','PPM','AMORTIZATION_TYPE','PROPERTY_STATE', 'PROPERTY_TYPE','POSTAL_CODE',
                'LOAN_SEQUENCE_NUMBER','LOAN_PURPOSE', 'ORIGINAL_LOAN_TERM','NUMBER_OF_BORROWERS','SELLER_NAME',
                'SERVICER_NAME','SUPER_CONFORMING_FLAG','PRE-RELIEF_REFINANCE_LOAN_SEQUENCE_NUMBER', 
                'PROGRAM_INDICATOR', 'RELIEF_REFINANCE_INDICATOR', 'PROPERTY_VALUATION_METHOD', 'IO_INDICATOR'}

samplePerfFiles = str(os.getcwd())+"/" + DATA_FOLDER_NAME + "\sample_svcg_*.txt"
outputPerfFile = 'SamplePerformanceCombined.csv'

perf_headers = ['LOAN_SEQUENCE_NUMBER','MONTHLY_REPORTING_PERIOD','CURRENT_ACTUAL_UPB',
                'CURRENT_LOAN_DELINQUENCY_STATUS','LOAN_AGE','REMAINING_MONTHS_TO_LEGAL_MATURITY', 
                'DEFECT_SETTLEMENT_DATE','MODIFICATION_FLAG', 'ZERO_BALANCE_CODE', 
                'ZERO_BALANCE_EFFECTIVE_DATE','CURRENT_INTEREST_RATE ','CURRENT_DEFERRED_UPB','DDLPI',
                'MI_RECOVERIES', 'NET_SALE_PROCEEDS','NON_MI_RECOVERIES','EXPENSES', 'LEGAL_COSTS',
                'MAINTENANCE_AND_PRESERVATION_COSTS','TAXES_AND_INSURANCE','MISCELLANEOUS_EXPENSES',
                'ACTUAL_LOSS_CALCULATION', 'MODIFICATION_COST','STEP_MODIFICATION_FLAG','DEFERRED_PAYMENT_PLAN',
                'ELTV','ZERO_BALANCE_REMOVAL_UPB','DELINQUENT_ACCRUED_INTEREST','DELINQUENCY_DUE_TO_DISASTER',
                'BORROWER_ASSISTANCE_STATUS_CODE','CURRENT_MONTH_MODIFICATION_COST','INTEREST_BEARING_UPB']

perf_types = {'LOAN_SEQUENCE_NUMBER','MONTHLY_REPORTING_PERIOD','CURRENT_ACTUAL_UPB',
                'CURRENT_LOAN_DELINQUENCY_STATUS','LOAN_AGE','REMAINING_MONTHS_TO_LEGAL_MATURITY', 
                'DEFECT_SETTLEMENT_DATE','MODIFICATION_FLAG', 'ZERO_BALANCE_CODE', 
                'ZERO_BALANCE_EFFECTIVE_DATE','CURRENT_INTEREST_RATE ','CURRENT_DEFERRED_UPB','DDLPI',
                'MI_RECOVERIES', 'NET_SALE_PROCEEDS','NON_MI_RECOVERIES','EXPENSES', 'LEGAL_COSTS',
                'MAINTENANCE_AND_PRESERVATION_COSTS','TAXES_AND_INSURANCE','MISCELLANEOUS_EXPENSES',
                'ACTUAL_LOSS_CALCULATION', 'MODIFICATION_COST','STEP_MODIFICATION_FLAG','DEFERRED_PAYMENT_PLAN',
                'ELTV','ZERO_BALANCE_REMOVAL_UPB','DELINQUENT_ACCRUED_INTEREST','DELINQUENCY_DUE_TO_DISASTER',
                'BORROWER_ASSISTANCE_STATUS_CODE','CURRENT_MONTH_MODIFICATION_COST','INTEREST_BEARING_UPB'}

In [3]:
from FREDDIEMAC_preprocessing import createOriginationCombined, createPerformanceCombined

createOriginationCombined(sampleOrigFiles, orig_headers, outputOrigFile)
createPerformanceCombined(samplePerfFiles, perf_headers, outputPerfFile)

Working on  c:\Users\marij\Desktop\THESIS ECO\datasets\FREDDIEMAC/data\sample_orig_2017.txt: 100%|██████████| 8/8 [00:05<00:00,  1.40it/s]
Working on  c:\Users\marij\Desktop\THESIS ECO\datasets\FREDDIEMAC/data\sample_svcg_2010.txt:   0%|          | 0/8 [00:00<?, ?it/s]c:\Users\marij\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
Working on  c:\Users\marij\Desktop\THESIS ECO\datasets\FREDDIEMAC/data\sample_svcg_2013.txt:  38%|███▊      | 3/8 [03:18<05:29, 65.84s/it]c:\Users\marij\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (3,7,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
Working on  c:\Users\marij\Desktop\THESIS ECO\datasets\FREDDIEMAC/data\sample_svcg_2015.txt:  62%|██████▎   | 5/8 [05:21<03:09, 63.06s/it]c:\Users\marij\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (3,7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
Working on  c:\Users\marij\Desktop\THESIS ECO\datasets\FREDDIEMAC/data\sample_svcg_2017.txt: 100%|██████████| 8/8 [07:39<00:00, 57.48s/it]

In [4]:
df_orig = pd.read_csv(outputOrigFile)

c:\Users\marij\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_perf = pd.read_csv(outputPerfFile)

c:\Users\marij\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df_orig.head(10)

,CREDIT_SCORE,FIRST_PAYMENT_DATE,FIRST_TIME_HOMEBUYER_FLAG,MATURITY_DATE,MSA,MI_PCT,NUMBER_OF_UNITS,OCCUPANCY_STATUS,CLTV,DTI,...,SELLER_NAME,SERVICER_NAME,SUPER_CONFORMING_FLAG,PRE-RELIEF_REFINANCE_LOAN_SEQUENCE_NUMBER,PROGRAM_INDICATOR,RELIEF_REFINANCE_INDICATOR,PROPERTY_VALUATION_METHOD,IO_INDICATOR,QUARTER,YEAR
0,784,201005,N,202504,45780,0,1,P,90,38,...,Other sellers,U.S. BANK N.A.,N,X,9,X,9,N,1,10
1,795,201003,N,202502,0,0,1,P,67,35,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
2,784,201003,N,202502,36100,0,1,P,55,47,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
3,759,201003,N,204002,47260,0,1,P,50,27,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
4,695,201004,N,204003,0,0,1,P,50,21,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
5,794,201003,N,202502,45780,0,1,P,55,30,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
6,688,201004,N,204003,12980,0,1,P,74,43,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
7,781,201003,N,204002,0,0,2,I,75,52,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
8,786,201003,N,204002,0,0,1,P,58,27,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10
9,815,201003,N,204002,12420,0,1,P,40,25,...,Other sellers,Other servicers,N,X,9,X,9,N,1,10

In [14]:
df_perf['CURRENT_LOAN_DELINQUENCY_STATUS'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', 'RA', '8', '9', '10', 0, 1,
       2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       38, 39, 40, 41, 42, 43, 44, '54', '55', '56', '57', '58', '59',
       '60', 45, 46, 47, 48, 49, 50, 51, '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', 52, 53, 54, 55, 56,
       '122', 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67], dtype=object)

### Data Exploration

In [8]:
df_orig['LOAN_SEQUENCE_NUMBER']

0             14
1             69
2             89
3             98
4            102
           ...
399995    360865
399996    360870
399997    360879
399998    360883
399999    360884
Name: LOAN_SEQUENCE_NUMBER, Length: 400000, dtype: int64

In [9]:
df_orig['LOAN_SEQUENCE_NUMBER'].nunique()

267652

# 2. Hyperparameters

# 3. Defining The Model